@mixin underline {
  background-image: linear-gradient(180deg, transparent 95%, $tertiary 0);
  background-repeat: no-repeat;
  background-color: initial;
  padding: 0px;
  background-size: 100% 100%;
  text-decoration: none;
}

.category-heading {
  margin-bottom: 20px;
  width: 100%;

  > p {
    display: none;
  }

  > .category-logo.aspect-image {
    display: none;
  }

  .advanced-category-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid $tertiary;
    padding: 1em;
    box-sizing: border-box;
    margin: 0;

    .category-meta {
      margin: 1em;
    }

    .category-name {
      @include underline;
      font-size: 1.5em;
      margin-bottom: .5em;
    }

    .category-logo {
      max-width: 60px;
      vertical-align: middle;
      margin: 0;
    }

    .category-description {
      max-width: 600px;
      margin-bottom: .5em;
      display: inline-block;
    }
  }

  ul.category-featured-users,
  ul.category-featured-links {
    margin: .5em 0 0 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1.5em;
    max-width: 700px;
  }
  
  .category-featured-link {
    cursor: pointer;
    padding: 1em;
    border-radius: 1em;
    border: 1px solid var(--primary-low-mid);
    box-shadow: 0 3px 8px 0px var(--primary-low);
    transition: all .1s ease-in-out;
    text-align: center;

    &:hover {
      box-shadow: 0 6px 8px 4px var(--primary-low);
      transform: translateY(-3px);
    }
  }

  .category-featured-user {
    text-align: center;

    label {
      justify-content: center;
    }
  }
}