@mixin underline {
  background-image: linear-gradient(180deg, transparent 95%, $tertiary 0);
  background-repeat: no-repeat;
  background-color: initial;
  padding: 0px;
  background-size: 100% 100%;
  text-decoration: none;
}

.category-heading {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
  
  p:first-child {
    display: none;
  }
  
  &.has-logo {
    border: 2px solid $tertiary;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
  }
  
  .category-logo.aspect-image {
    max-width: 60px;
    vertical-align: middle;
  }
  
  .category-name-header {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5em;
    margin: 7px 0;
    @include underline;
  }
  
  p {
    font-size: 1.1em;
    max-width: 700px;
    margin: 0;
  }
}